    <script src="../../public/Bootstrap/dist/js/jquery-3.2.1.js"></script>
    <script>
        function deleteparent(element) {
            element.parentNode.remove();
            console.log(element.parentNode.childNodes);
                    // .append(` <div class="row mt-3 mb-3 justify-content-center othereducationlink"><a style="color: blue" onclick="Othereducation()">+ Add Another Education</a> </div>`)
        }
        function setprofileimg() {
            ;
        }
      $(window).bind('beforeunload',()=>{
          let savebtn= $('.profile-footer-save-btn')

              return 'Are you sure you wanna leave this page ?';
      })
        function checkbeforeleave() {
        window.location="/"
        }
        function Othereducation() {
            // let otherED_div = $('#otherEducation')[0];
            let appendEd= $('#othereducationappendablediv');
            let appendablediv = $('.otherEd')[0];
            let otheredLINK=$('.othereducationlink')[0]
            // let outerDiv = $('#otherEdouterDiv')[0];
            otheredLINK.remove();
            appendEd.append(`<div class="col-12 otherEd"  ><div class="row justify-content-center">
                        <div class="col-12 p-3 central-inner-divheadings">School/College/University</div>
                    <div class="row mt-2 mb-2 justify-content-center" >
                    <div class="col-6">
                    <label>Year of Entry</label>
                    <input class="maininfo-inputbox-setts" type="number" value="2006">
                    </div>
                    <div class="col-6">
                    <label>Year of Graduation</label> <br>
                    <input class="maininfo-inputbox-setts" type="number" value="2010">
                    </div>
                    </div>
                    <div class="row mt-4 mb-2 mr-2 ml-2 justify-content-center">
                    <div class="col-4">
                    <label class="maininfo-label" >Degree</label>
                    <input class="maininfo-inputbox-setts" type="text">
                    </div>
                    <div class="col-4">
                    <label class="maininfo-label" >Field Of Study</label>
                    <input class="maininfo-inputbox-setts" type="text">
                    </div>
                    <div class="col-4">
                    <label class="maininfo-label" >Specialization</label>
                    <input class="maininfo-inputbox-setts" type="text">
                    </div>
                    </div>
                    </div>
                    <div class="row mt-3 mb-3 justify-content-center othereducationlink"><a style="color: blue" onclick="Othereducation()">+ Add Another Education</a> </div>
                   <button onclick="deleteparent(this)" class="delete-btn btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </div>`);
            console.log(appendablediv);


        }
    </script>

    <link rel="stylesheet" href="css/profile_page/profile_checkpage_css.css">

    <style>
        select option{
            color: black;
        }
        .othereducationlink{
            cursor: pointer;
        }
        .otherEd{
            position: relative;
        }
        .delete-btn{
            position: absolute;
            top: 50%;
            right: 20px;
        }
    </style>
<!--<label >Name</label>-->

<!--<input type="text" style="border: none; display: block;border-bottom: 1px gray solid" value="ashish">-->
    <form style="position: relative" action="/editprofile/{{info.id}}" method="post" encType="multipart/form-data">
<div class="container-fluid">
    <div class="row profile-top-div">
        <div class="col-12 basicinfo-divimg "> </div>
        <!--Background Image-->
            <div class="row justify-content-center m-2" style="position: absolute; height: 200px; width: 100%">
                 <div class="col-12 p-2 m-2" style="height: 100px">
                     <div class="row justify-content-center">
                         <!--Image Div-->
                        <div class="col-6 col-md-3" align="right">
                            <div style="width: 150px ;height: 150px;position: relative;border: 1px solid white;border-radius: 5px">
                                <img id="profile-img" src="{{user.image}}" alt="profileimg" height="150px" width="150px">
                                <div onclick="setprofileimg()" style="position: absolute;height: 100%;width: 100%;top: 0;background-color: rgba(255,255,255,0.7);opacity: 0.6;z-index: 10"></div>
                               <a href="/profileimgupload"> <div align="center" style="cursor: pointer;position: absolute;top: 30%;font-size: 15px;color: white;font-weight: bold">
                                    <i class="fas fa-camera"></i>
                                    <br>
                                      Change profile picture
                                </div>
                               </a>
                            </div>


                         </div>
                         <!--Content Divs-->
                         <div class="col-12 col-md-9" style="padding-top: 70px;color: white">
                            <div class="row">
                             <div class="col-4 col-md-2 pl-2 pl-md-0 pr-2 pr-md-0">
                                 <label class="maininfo-label main-headings-settings" > Profile Info</label>
                                 <select class="maininfo-inputbox-setts main-input-colour-combinations" >
                                     <option > Mr.</option>
                                     <option>Ms</option>
                                     <option>Dr.</option>
                                     <option>Mrs</option>
                                 </select>
                             </div>
                             <div class="col-6 col-md-3 pl-2 pl-md-0 pr-2 pr-md-0">
                                 <label class="maininfo-label main-headings-settings">First Name</label>
                                 <input class="maininfo-inputbox-setts main-input-colour-combinations" value="{{user.firstName}}" type="text" name="givenName">
                             </div>
                             <div class="col-5 col-md-3 pl-2 pl-md-0 pr-2 pr-md-0 mt-3 mt-md-0">
                                 <label class="maininfo-label main-headings-settings">Last Name</label>
                                 <input class="maininfo-inputbox-setts main-input-colour-combinations" value="{{user.lastName}}" type="text" name="familyName">
                             </div>
                             <div class="col-5 col-md-3 pl-2 pl-md-0 pr-2 pr-md-0 mt-3 mt-md-0">
                                 <label class="maininfo-label main-headings-settings" >Location</label>
                                 <select class="maininfo-inputbox-setts main-input-colour-combinations">
                                     <option>India </option>
                                     <option>Usa</option>
                                     <option>London</option>
                                 </select>
                             </div>
                         </div>
                            </div>



                  </div>
                 </div>
             </div>
         </div>
     </div>
<!--Inner Content-->
<!--Need To Correct all those Divs which are coming out of the side div becoz
col is taken as 12 and also margin is given in that So its using extra space , Thats why-->
<div class="container mt-3">
    <div class="row mr-md-0 mr-1 ml-md-0 ml-1">
        <!--Side divs-->
        <div class="col-12 col-md-4 pl-0 pl-md-2">

            <!--End of Short Bio Div-->
            <div class="row mt-3 sidedivs p-3 ml-1 ml-md-0">
                <div class="col-12 pl-2 pr-2 pb-1 pt-1 mt-2 mb-2">
                    <label class="maininfo-label central-inner-divheadings mt-1 mb-2">Email</label>
                    <input class="maininfo-inputbox-setts mb-3" type="email" value="{{user.email}}" >
                </div>
                <div class="col-12 mt-1 pt-1 pl-2 pr-2 pb-1">
                    <label class="maininfo-label central-inner-divheadings mt-1 mb-2 ">Phone no.</label>
                    <input class="maininfo-inputbox-setts mb-3" type="number" value="+91" name="mobilePhone">
                </div>
            </div>
            <!--Preferences -->
            <div class="row mt-3 p-3 sidedivs ml-1 ml-md-0">
                    <div class="col-12 central-inner-divheadings">Social Media</div>
                    <div class="row mt-3">
                        <div class="col-12 ml-3">
                            <div class="row mt-2 mb-2">
                            <div class="col-2"><i class="fab fa-facebook-f"></i> </div><div class="col"><input class="maininfo-inputbox-setts inputbox-blue-sets" name="fbLink"></div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-2"><i class="fab fa-linkedin"></i> </div><div class="col"><input class="inputbox-blue-sets maininfo-inputbox-setts" name="linkedinLink"></div>
                            </div>
                            <div class="row mb-2 mt-2">
                                <div class="col-2"><i class="fab fa-google-plus-official"></i> </div><div class="col"><input  class=" inputbox-blue-sets maininfo-inputbox-setts" name="gLink"></div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-2"><i class="fab fa-github"></i> </div><div class="col"><input class=" inputbox-blue-sets maininfo-inputbox-setts" name="githubLink"></div>
                            </div>

                            <div class="row mt-2 mb-2">
                                <div class="col-2"><i class="fab fa-twitter"></i> </div><div class="col"><input style="background-color: rgba(135,206,250,0.3);border-bottom: 1px solid skyblue" class="maininfo-inputbox-setts" name="twitterLink"></div>
                            </div>
                           
                        </div>
                    </div>
                <!--Resume Link-->

                <div class="row mt-3 p-3" style="border-top: 0.5px solid lightgrey">
                    <div class="col-12 p-3 central-inner-divheadings">Resume</div>
                    <div class="col-2"><i class="fas fa-link"></i> </div><div class="col"><input style="background-color: rgba(135,206,250,0.3);border-bottom: 1px solid skyblue" class="maininfo-inputbox-setts" name="ResumeLink"></div>

                </div>
                
                {{#if info.visitingcard}}
                <div class="abc" style="display:none">
                 <input type="file" name="sampleFile">
                 </div>
                 {{else}}
                 Visiting Card:  <i class="fas fa-id-card"></i> <input type="file" name="sampleFile">
                 {{/if}}
                </div>
            </div>
        <div class="col-12 col-md-8 ml-1 ml-md-0 mt-3 mt-md-0 pl-0 pl-md-2">
            <!--Central Block 1-->
            <div class="row p-3 pr-0 centralblocksetts">
            <div class="col-12 centraldivheading"  style="box-shadow: none">Dr. Akhilesh Das Gupta Institute Of technology and Management</div>
            </div>
            <div class="row mt-1 justify-content-center centralblocksetts">
                <div class="col-12 p-3">
                    <!--Pic And Content-->
                    <div class="row justify-content-center">
                        <div class="col-3" id="central-1st-div-waste">
                            <!--<img src="" alt="abc">-->
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-6">
                                    <label class="central-inner-divheadings">University</label>
                                    <input class="maininfo-inputbox-setts" type="text" value="GGSIPU">
                                </div>
                                <div class="col-6">
                                    <label class="central-inner-divheadings">Registration No.</label>
                                    <input class="maininfo-inputbox-setts" type="text" placeholder="Enrollement Number" name="enrollementNumber">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="central-inner-divheadings " >Course</label>
                                    <br>
                                    <select style="width: 100%; font-size: 17px" type="text" class="maininfo-inputbox-setts inputbox-blue-sets" name="course">
                                        <option >B.Tech</option>
                                        <option>MCA</option>
                                        <option>BCA</option>
                                        <option>BBA</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="central-inner-divheadings " >Branch</label>
                                    <br>
                                    <select style="width: 100%; font-size: 17px" type="text" class="maininfo-inputbox-setts inputbox-blue-sets" name="branch">
                                    <option >CSE</option>
                                        <option>MAE</option>
                                        <option>IT</option>
                                        <option>CIVIL</option>
                                        <option>ECE</option>
                                        <option>EEE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="central-inner-divheadings" >Year of start</label>
                                    <input type="text" class="maininfo-inputbox-setts" placeholder="Year" name="entryYear">
                                </div>
                                <div class="col-6">
                                    <label class="central-inner-divheadings" >Year of Graduation</label>
                                    <input type="text" class="maininfo-inputbox-setts" placeholder="Year" name="graduationYear">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
<!--End of 1st Central box here-->
            <div class="row mt-3 centralblocksetts">
                <div class="col-12 p-3 centraldivheading" >Other Education</div>
            </div>
            <div class="row centralblocksetts mt-1 p-3" id="othereducationappendablediv">

                <div class="col-12 otherEd"  >
                    <div class="row justify-content-center">
                        <div class="col-12 p-3 central-inner-divheadings">School/College/University</div>
                        <!--Row for year of entry-->
                       <div class="row mt-2 mb-2 justify-content-center" >
                        <div class="col-6">
                            <label>Year of Entry</label>
                            <input class="maininfo-inputbox-setts" type="number" placeholder="Year" name="yearEntry">
                        </div>
                        <div class="col-6">
                            <label>Year of Graduation</label> <br>
                            <input class="maininfo-inputbox-setts" type="number" value="2010" name="yearGraduation">
                        </div>
                       </div>
                        <!--Row for year and stuff-->
                        <div class="row mt-4 mb-2 mr-2 ml-2 justify-content-center">
                        <div class="col-6 col-md-4">
                            <label class="maininfo-label" >Degree</label>
                            <input class="maininfo-inputbox-setts" type="text" name="degree">
                        </div>
                        <div class="col-6 col-md-4">
                            <label class="maininfo-label" >Field Of Study</label>
                            <input class="maininfo-inputbox-setts" type="text" name="field">
                        </div>
                        <div class="col-6 col-md-4 mt-3 mt-md-0">
                            <label class="maininfo-label" >Specialization</label>
                            <input class="maininfo-inputbox-setts" type="text" name="specialisation">
                        </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3 justify-content-center othereducationlink"><a style="color: blue" onclick="Othereducation()">+ Add Another Education</a> </div>
                </div>
            </div>
            <!--End of 2nd central block-->
            <!--3rd Central Block Employee-->
            <div class="row centralblocksetts mt-3 ">
                <div class="col-12 p-3 centraldivheading">Experience</div>
            </div>
            <div class="row justify-content-center centralblocksetts mt-1 mb-4">

                    <div class="col-12">
                        <div class="row p-3 justify-content-center">
                            <div class="col-12 col-md-6 mt-2 mb-2 p-2">
                                <span class="inputbox-blue-sets p-1">  <label class="innerlabel innerdiv-blue-heading"> Employer  </label>
                                   <input class="maininfo-inputbox-setts" style="border-bottom: skyblue" type="text" name="employer">
                            </span>
                            </div>
                            <div class="col-12 col-md-6 mt-2 mb-2 p-2">
                                <span class="inputbox-blue-sets p-1">  <label class="innerlabel innerdiv-blue-heading"  > Job </label>
                                   <input class="maininfo-inputbox-setts" style="border-bottom: skyblue" type="text" name="job">
                            </span>
                            </div>
                            <div class="col-5 p-2 mr-1">
                                <label class="maininfo-label inputbox-blue-sets innerdiv-blue-heading" >From</label>
                                <input style="border-bottom: 1px solid skyblue;color: skyblue" class="maininfo-inputbox-setts" type="month" name="from">
                            </div>
                            <div class="col-5 p-2 mr-1">
                                <label class="maininfo-label inputbox-blue-sets innerdiv-blue-heading" >To</label>
                                <input style="border-bottom: 1px solid skyblue" class="maininfo-inputbox-setts" type="month" name="to">
                            </div>
                        </div>
                    </div>
                <div class="row mt-3 mb-3 justify-content-center p-2"><a href="">+ADD Another Experience here</a> </div>
                </div>
        </div>
    </div>
</div>


<div class="profile-footer-div" >
    <div  class="mt-2 mb-2 btn p-2 m-2 mb-3 profile-footer-discard-btn " onclick="checkbeforeleave()">Discard</div>
 <input class="btn p-2 m-2 mb-3 profile-footer-save-btn" type="submit" value="Save" >
    <!--<div class="btn p-2 m-2 mb-3" style=" width: 125px;background-color: lightgreen;position: absolute; right: 8%; top: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)"><a style="color: inherit"> Save Changes</a></div>
--->
</div>
    </form>